:root {
  --header-title-font: normal normal bold 3rem/3.4rem  "consolas","Inconsolata", monospace;
  --title-name-font: normal normal bold 2.2rem/2.2rem  "consolas","Inconsolata", monospace;
  --font: "Inter", sans-serif;
  --font-header-nav: 1rem var(--font);
  --font-subtitle: 2.5rem var(--font);
  --font-p: 1.3rem var(--font);
  --font-references: 1rem var(--font);
  --color-primary: #00263E;
  --color-secundary: #C1E0EB;
  --color-terciary: #EEF3F6;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

header .navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 0;
  color: white;
  background-color: var(--color-primary);

}

header .navi div {
  display: flex;
}

 header .navi .logo {
  margin-left: 5%;
} 

header .navi .logo figure {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

header .navi .logo figure img {
  display: flex;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

header .navi .logo figure figcaption {
  align-self: center;
  margin-left: 1rem;
  font: 1.2rem var(--font);
}

header .navi .nav-options {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 60%;
  margin-right: 5%;
}

header .navi .nav-options a {
  width: 25%;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  font: var(--font-header-nav);
  font-weight: 300;
  color: white;
}

header .navi .nav-options a:hover {
  cursor: pointer;
  font-weight: bold;
}

header .navi .nav-options a:last-child {
  background-color: var(--color-secundary);
  border: 1px solid --color-primary;
  border-radius: 15px;
  font-weight: bold;
  color: var(--color-primary);
}

/*----- fron-page ----- */

section {
  min-height: 100vh;
}

section .front-page {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  background-color: rgb(130, 230, 175);
}

section .front-page .meet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
}

section .front-page .meet .hello {
  width: 50%;
}

section .front-page .meet .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

section .front-page .meet .avatar-img {
  display: flex;
  background-color: #00263E;
  justify-content: center;
  width: 400px;
  height: 500px;
  border-radius: 3rem;
}

section .front-page .meet .avatar-img img {
  height: 80%;
  align-self: center;
}

/* section .front-page .meet {

}
 */

section .front-page .meet .hello {
  min-width: 480px;
 }

section .front-page .meet .hello h1 {
  font: var(--header-title-font);
 }

section .front-page .meet .hello p {
  font: var(--font-p);
  font-weight: 400;
 }

section .front-page .meet .hello button {
  background-color: transparent;
  padding: 0.7rem 1.1rem;
  border: 1px solid --color-primary;
  border-radius: 0.4rem;
  font-family: var(--font);
  font-weight: bold;
  cursor: pointer;
 }

section .front-page .social {
  background-color: red;
}







